@page "/categories/create"

<h1> Nova Categoria</h1>

<EditForm Model="@Model">
    <div class="mb-3">
        <label class="form-label"> Nome da Categoria</label>
        <InputText @bind-Value="Model.Title" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary"> Criar </button>
    <a href="/categories"> Cancelar</a>
</EditForm>

@code {
    public Models.Category Model { get; set; } = new();

        protected override void OnInitialized()
        {
            Model.Title = "Minha incrível Categoria";
        }
}